html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
}

.container-fluid {
  width: 100%;
  height: 100%;
}

.header {
  height: 15%;
}

.content {
  height: 70%;
}

.footer {
  height: 15%;
}

.item_center {
  align-self: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.fa:hover {
  opacity: 1;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
